body{
margin: 0;
width: 100%;
background-color: #fff;
}

/* -------------------------- Fonts -------------------------- */

@font-face
{
  font-family: 'Lobster';
      src: url('fonts/Lobster_1.3.otf');
}

@font-face {
      font-family: 'OpenSans';
      src: url('fonts/OpenSans-Light.ttf');
      font-style: normal;
      font-weight: 300;
      font-display: swap;
}

@font-face {
     font-family: 'OpenSans';
     font-style: normal;
     font-weight: 400;
     font-display: swap;
     src: url('fonts/OpenSans-Regular.ttf');
}

 @font-face {
     font-family: 'OpenSans';
     font-style: normal;
     font-weight: 600;
     font-display: swap;
     src: url('fonts/open-sans-semibold.ttf');
 }

video{
margin: auto;
display: block;
}

 .animate {
 				width: 50%;
 				font-family: 'Lobster';
 				font-weight: bold;
 				text-align: center;
 				transform: translate(50%,0%);
 				position: absolute;
 				top: 15rem;
 				font-size: 300%;
 				margin:auto;
        color: #FFEAD0;
 			}

.scrolling_image{
  display: none;
  position: absolute;
  bottom: 2rem;
  right: 3rem;
  z-index: 1000;
}

.scrolling_image img{
  width: 25px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + entiere{
  padding-top: 100px;
}

#bienvenue{
  width: 100%;
  text-align: center;
  height: 250px;
  padding-bottom: 4rem;
}

#bienvenue h1{
  padding-top: 4rem;
  color: #581c0c;
  margin: auto;
  width: 70%;
  font-size: 3rem;
  line-height: 4rem;
  font-weight: bold;
  font-family: "Lobster";
}

#bienvenue p{
  padding-top: 2rem;
  color: #581c0c;
  margin: auto;
  width: 70%;
  font-size: 1rem;
  font-weight: lighter;
  font-family: 'OpenSans';
}

.categories{
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: space-between;
  align-items: flex-start;
  margin-bottom: 2rem;
}


.container{
    padding-top: 5rem;
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: auto;
    text-align: center;
    justify-content: space-around;
    align-items: flex-start;
    align-content: space-between;
    margin-bottom: 5rem;
  }

  .element{
    width: 250px;
  }

  .element img{
    width: 100%;
    height: 300px;
  }

  .bouton{
    display: none;
    background-color: #fff;
    opacity:0.7;
    height: 100px;
    transform: translate(0%,-103%);
  }

  .bouton h1{
    line-height: 50px;
    font-weight: 400;
  }
  .bouton p{
    padding: 4px;
    font-weight: 300;
    color: #777;
  }

  button{
    width: 100%;
    border: none;
    height: 100%;
  }
